<div class="container">
  <div class="panel text">
    <h1>Depressieve symptomen</h1>
  </div>
  <div class="panel content">
    <div id = "explanation">
      <h2 class = "titel"> De mentale gezondheid van de belg</h2>
      <p class = "explanation">
        Op de vorige pagina is te zien dat de zelf waargenomen gezondheid van de belgen vermindert naarmate men ouder wordt.
        Bij de mentale gezondheid is er echter een andere trend te zien. Er worden het vaakst depressieve symptomen vastgesteld
        voor mensen in de leeftijdscategorie tussen de 45 en de 54 jaar. In deze categorie hebben bijna dubbel zoveel vrouwen
        als mannen depressieve symptomen. Klik op de leeftijden om verder te onderzoeken wat het verband is met
        het maximaal behaald educatieniveau.
      </p>
    </div>
    <div class="radarChart">
      <div id="age_chart" class="visible"></div>
      <div id="diploma_chart" class="invisible"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
</div>
