<div class="container satisfaction">
    <div class="panel text">
        <h1> Tevredenheid </h1>
    </div>
    <div class="panel content card">
        <div id = "explanation">
            <h2 class = "titel"> Hoe tevreden zijn de <span class = "bold">Belgische mannen en vrouwen</span>?</h2>
            <p class = "explanation"> Deze vraag was het uitgangspunt bij het opstellen 
                van deze scroll-through. Vertrekkende van de algemene <span class = "bold">tevredenheid</span> bij de Belg, 
                zal er eerst gekeken 
                worden naar verschillende soorten tevredenheid. Om vervolgens te bekijken wat deze tevredenheid al dan
                 niet kan beïnvloeden, zullen enkele aspecten meer in detail gevisualiseerd worden. Zo zal in een eerste
                  uitdieping het <span class = "bold">financiële aspect</span> verder verwerkt worden. Daarnaast zullen mannen en vrouwen vergeleken
                   worden op basis van <span class = "bold">hoe gezond ze zichzelf vinden</span>. Tot slot wordt er nog een kijkje genomen naar de 
                   cijfers over <span class = "bold">depressieve symptomen</span>. Op deze manier is het hopelijk mogelijk nieuwe inzichten te geven 
                   over hoe het met de gemiddelde vrouwelijke en mannelijke Belg gesteld is.  </p>
        </div>
        <div class="">
            <div id="satisfaction">
            </div>
        </div>
    </div>
</div>