<div class="container satisfaction">
    <div class="panel text">
        <h1> Tevredenheid </h1>
    </div>
    <div class="panel content">
        <div id = "explanation">
            <h2 class = "titel"> Hoe tevreden zijn de <span class = "bold">Belgische mannen en vrouwen</span>?</h2>
            <p class = "explanation"> Deze vraag was het uitgangspunt bij het opstellen van deze scroll-through. 
                Als eerste zal er gekeken worden naar hoe tevreden de Belg is met <span class = "bold">10 verschillende aspecten</span> in zijn leven. 
                Voor elk onderdeel wordt een <span class = "bold">score</span> op tien gegeven. Het gemiddelde van de resultaten wordt als percentage vergeleken voor mannen en vrouwen.
                Wanneer een aspect meer in detail bekeken wordt, wordt het antwoord op een iets andere vraag gevisualiseerd.
                Namelijk waar ze zich zouden plaatsen op een schaal van <span class = "bold">laag - gemiddeld - hoog</span>, wanneer gevraagd wordt naar hun <span class = "bold">tevredenheid over het gegeven aspect</span>.
                Hiervoor wordt voor elk onderdeel het percentage antwoorden voor elke score geplot in een vergelijkende grafiek tussen mannen en vrouwen.
                </p>
        </div>
        <div class="">
            <div id="satisfaction">
            </div>
        </div>
    </div>
</div>