<div class="container finance">
    <div class="panel text">
        <h1>Wealth</h1>
        <p> The indicator on the transition from <span class="emp">employment to unemployment</span> shows one side (negative) of the
            labour transition. It reflects a population that is potentially facing a danger of income decrease that is
            putting the person/household in an <span class="emp">insecure economic situation.</span> 
            <br><br>The indicator can be interpreted as
            a proxy of this deterioration as national <span class="emp">social protection schemes</span> and labour market characteristics
            can secure sufficient or comparable financial stability as before the transition happened.</p>
    </div>
    <div class="panel content">
        <div class="card">
            <div id="avgLoan"></div>
        </div>
    </div>
</div>
