<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section">Healthcare</div>
	<div class="section"> <!-- Click example-->
    <div class="slide">Lifestyle</div>
		<div class="slide">Lifestyle 2</div>
		<div class="slide">Lifestyle 3</div>
  </div>
	<div class="section">
    <div class="slide">
      <app-economy-finance></app-economy-finance>
    </div>
		<div class="slide">
      <app-economy-finance-wealth></app-economy-finance-wealth>
    </div>
		<div class="slide">Env eng 3</div>
  </div>
	<div class="section">
    <div class="slide">
      <app-environment-energy></app-environment-energy>
    </div>
		<div class="slide">Env eng 2</div>
		<div class="slide">Env eng 3</div>
  </div>
</div>