<div class="container finance">
    <div class="panel"></div>
    <div class="panel content">
        <h1>Economy and finance</h1>
        <p><span class="emp">Economic security</span> (and physical safety) are one of the <span class="emp">9 quality of life
        indicators</span> according to an <a href="https://ec.europa.eu/eurostat/documents/7870049/7960327/KS-FT-17-004-EN-N.pdf/f29171db-e1a9-4af6-9e96-730e7e11e02f?t=1490716665000"> group on quality of life indicators</a>.
        Since economic security is not merely a question of disposable income or available wealth, <span class="emp">subjective indicators</span> provide a more accurate picture of a person’s or household’s level of economic
        security and resilience or vulnerability in the face of economic risk.
        <br><br>
        Moreover, selected objective indicators, such as unpaid debts or arrears on loan or rent payments,
        are proxies of wealth and can also be used to indicate how <span class="emp">risk-prone</span> a household is.
        <br><br>
        Let's get more into detail on these <span class="emp">three topics.</span>
        </p>
        <br>
        <div class="icon-container">
            <div class="card">
                <img src="../../assets/economy-finance/wealth.png"/>
                <p>Wealth</p>
            </div>
            <div class="card">
                <img src="../../assets/economy-finance/debt.png"/>
                <p>Debt</p>
            </div>
            <div class="card">
                <img src="../../assets/economy-finance/security.png"/>
                <p>Income security</p>
            </div>
        </div>
    </div>
</div>
