.card {
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }


::ng-deep{
    .ngx-slider .ngx-slider-tick-legend{
        width: 100px !important;
    }

    .ngx-slider-inner-tooltip{
        display: none;
    }
}