<div class="container">
    <h1>Self-perseived health</h1>
    <div class="card" style="margin-bottom: 50px;">
        <h2 style="line-height: 57px;">
            Hoe beoordelen vrouwen en mannen hun gezondheid?
        </h2>
        <p>
            Sinds 2019 combineert Sciensano via het online <span class="bold">Health Status Report</span> de resultaten van verschillende studies en bronnen om in te schatten hoe gezond de Belgische inwoners zijn. Algemeen genomen zijn we <span class="bold">eerder gezond</span>, maar op sommige vlakken, zoals de mentale gezondheid, scoren we niet echt goed. De COVID-19-crisis had ook een duidelijke impact op onze gezondheid. Daarnaast blijven er op gezondheidsvlak belangrijke ongelijkheden, zowel op regionaal als op socio-economisch vlak.
            Op onderstaande grafiek zie je hoe de Belg zijn <span class="bold">eigen</span> gezondheid inschat. We zien duidelijk dat oudere mensen zich minder gezond voelen en dat er ook een klein verschil te zien is tussen de mannen en de vrouwen.
        </p>
    </div>
    <div class="card">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle (change)="clickBubble()" checked value="bubble">Bubble chart</mat-button-toggle>
            <mat-button-toggle (change)="clickBar()" value="bar">Bar chart</mat-button-toggle>
        </mat-button-toggle-group>
        <div id="chart" class="visible"></div>
        <div id="bar_chart" class="invisible"></div>
        <div class="slider">
            <p>Leeftijd</p>
            <ngx-slider [(value)]="value" [options]="options" (userChange)="age_changed()"></ngx-slider>
        </div>
    </div>
</div>
